<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>


  <h1>Create a Basketball Team!</h2>
    <form method="POST" action="">
      <input type="text" name="team_name">Team Name</input>
      <input type="text" name="coach"></input>
      <input type="text" name="point_guard"></input>
      <input type="text" name="shooting_guard"></input>
      <input type="text" name="small_forward"></input>
      <input type="text" name="power_forward"></input>
      <input type="text" name="center"></input>

      <input type="submit"></input>

    </form>

 </head>
 <body>
 </body>
</html>
