<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>


  <h1>Create a Basketball Team!</h1>
    <form method="POST" action="/team">
      Team Name: <input type="text" name="name"></input></br></br>
      Coach: <input type="text" name="coach"></input></br></br>
      Point Guard: <input type="text" name="pg"></input></br></br>
      Shooting Guard: <input type="text" name="sg"></input></br></br>
      Small Forward: <input type="text" name="sf"></input></br></br>
      Power Forward: <input type="text" name="pf"></input></br></br>
      Center: <input type="text" name="c"></input></br></br>

      <input type="submit"></input>

    </form>

 </head>
 <body>
 </body>
</html>
